html, body {
    width: 100% ;
    height: 100% ;
    background-image: url("background-1.jpg");
    background-size: cover;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    display: flex;
    flex-direction: row;
}

.lettre {
    color: rgba(255, 255, 255, 1) ;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    transition: all 2s ease;
}

.lettre:hover {
    color: rgba(255, 255, 255, 0.7) ;
    transform: scale(1.3);
}

.space {
    visibility: hidden;
}

/*
font-family: 'Romanesco', cursive;
font-family: 'Felipa', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Parisienne', cursive;
*/

.back {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.back:hover {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}